<nav class="navbar navbar-expand-lg navbar-white bg-white" style="margin-bottom: 10px;">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/renderer"><i class="fa fa-check-square-o"></i> Renderer</a>
          <a class="nav-link" routerLink="/builder"><i class="fa fa-th-list"></i> Builder</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container container-demo">
  <router-outlet></router-outlet>
</div>