<!--
<app-hero></app-hero>
-->
<div class="container">
  <!--
  <formio *ngIf="!auth.authenticated" src="https://examples.form.io/example"></formio>
  <div class="well text-center" *ngIf="auth.authenticated">
    <h3 *ngIf="auth.user.data">You are logged in as <strong>{{ auth.user.data.email }}</strong>!</h3>
  </div>
  -->

  <!--
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="user">
        <a class="nav-link" routerLink="user"><i class="fa fa-users"></i> Employees</a>
      </li>
      <li class="nav-item" routerLinkActive="event">
        <a class="nav-link" routerLink="event"><i class="fa fa-calendar"></i> Events</a>
      </li>
  </ul>
  -->
  <!--
  <formio src="http://localhost/formio/event"></formio>
  <formio src="http://localhost/formio/test"></formio>
  -->
  <app-form-list></app-form-list>

</div>

